.main_container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #36393f;

}



.inputchat {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    background-color: #40444b;
    color: #b9bbbe;
    align-items: center;
}

.sendmessage {
    display: none;
}


.inputchat>form {
    flex: 1;
}

.messagebox {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline-width: 0;
    color: #ffffff;
    width: 100%;
}


.message {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;


}

.message__info {
    margin-left: 20px;
}

.message__timestamp {
    color: grey;
    margin-left: 20px;
    font-size: x-small;
}

.message__info>p {
    width: 250px;
    word-wrap: break-word;
}

.chatmessages {
    display: flex;
    background-color: #36393f;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    min-width: 60%;
}

.chatmessages::-webkit-scrollbar {
    display: none;

}

.memberlist {
    position: relative;
    width: 20%;
    height: 94%;
}

.memberlist {
    background-color: #2f3136;
    max-height: inherit;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    list-style-type: none;
    right: 0;

}



.members {
    background: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15.2vw;
    padding: 0.2rem;
}

.muser-info {
    display: flex;
    align-items: center;
    width: 14rem;
}

.muser-info:hover {
    background: #45494e;
    border-radius: 2px;
}

.musername {
    font-size: 0.9rem;
    cursor: pointer;
    color: #8f9296;
}

.heading {
    color: #8f9296;
    font-size: 10px;
    font-weight: 1000;
}