.main_container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #36393f;

}

.inputchat>form {
    flex: 1;
}

.bottompanel {
    position: fixed;
    bottom: 0;
}


.chatmessages {
    display: flex;
    background-color: #36393f;
    flex: 1;
    flex-direction: column;
    overflow: scroll;
    min-width: 60%;
}

.chatmessages::-webkit-scrollbar {
    display: none;

}

.maincontainer1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
}

.maincontainer1::-webkit-scrollbar {
    display: none;
}