.LoginPage {
    background-image: url('./../../Assets/Logos/login_background.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100%; */
    display: flex;
    /* background-size: cover; */
    justify-content: center;
    align-items: center;
}

:focus {
    outline-color: #089dd9;
    outline-style: solid;
    outline-width: 4px;
}


@font-face {
    font-family: Whitney;
    src: url("./../../Assets/Fonts/02_Whitney_Paragraphs/Whitney-Semibold-Bas.otf");
}

@font-face {
    font-family: WhitneyLower;
    src: url("./../../Assets/Fonts/02_Whitney_Paragraphs/Whitney-Book-Bas.otf");
}


@font-face {
    font-family: GintoNormal;
    src: url("./../../Assets/Fonts/Ginto_Discord_210416/ABCGintoNormalFullPrint/ABCGintoNormal-Medium.otf");
}

@font-face {
    font-family: GintoNormalBold;
    src: url("./../../Assets/Fonts/Ginto_Discord_210416/ABCGintoNormalFullPrint/ABCGintoNormal-Bold.otf");
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.6fr;
    background-color: #36393f;
    align-content: center;
    justify-content: center;
    padding: 34px;
    font-size: 18px;
    position: relative;
    border-radius: 7px;
    /* width: 91.5%; */
}

.qr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.qrcontainer {
    height: 164px;
    width: 164px;
    padding: 4px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 28px;
}

.textcontainer {
    text-align: center;
}

.h1 {
    font-family: GintoNormalBold;
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
    font-weight: 300;
}

.Header {
    font-family: WhitneyLower;
    font-size: 16px;
    line-height: 20px;
    color: #aaacb0;
}

.forgotpassword {
    margin-top: 7px;
    font-family: WhitneyLower;
    white-space: nowrap;
    line-height: 16px;
    font-size: 14px;
    color: hsl(214, calc(var(--saturation-factor, 1)*4%), 65.3%);
    margin-bottom: 20px;
}

.forgotpassword>a {
    color: #01abee;
    text-decoration: none;
    font-weight: 600;

}

.forgotpassword>a:hover {
    text-decoration: underline;
}

.Register {
    margin-top: 4px;
    font-family: WhitneyLower;
    white-space: nowrap;
    line-height: 16px;
    font-size: 14px;
    color: hsl(214, calc(var(--saturation-factor, 1)*4%), 65.3%);
}

.Register>a {
    font-family: Whitney;
    color: #01abee;
    text-decoration: none;
}

.Register>a:hover {
    text-decoration: underline;
}

.text-container {
    width: 80%;

}

.h2 {
    color: hsl(0, calc(var(--saturation-factor, 1)*0%), 100%);
    font-family: GintoNormalBold;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

.qrsubtext {
    font-family: WhitneyLower;
    font-size: 16px;
    color: hsl(216, calc(var(--saturation-factor, 1)*3.7%), 73.5%);
}

strong {
    font-family: Whitney;
    font-weight: 100;
}

@media screen and (max-width:830px) {
    .qr {
        display: none;
    }

    .container {
        grid-template-columns: 20rem 0fr 0fr;
        /* margin-top: 25%; */
    }
}