.label1 {
    font-family: GintoNormal;
    font-size: 11.5px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 100;
    color: #b6b8bb;
}

.label2 {
    font-family: WhitneyLower;
    font-size: 11.5px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 100;
    color: #b6b8bb;
}

.label3 {
    font-family: GintoNormal;
    font-size: 11.5px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 100;
    color: #4f5660;
}

/* [type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: relative;
    opacity: 1;
    pointer-events: none;
} */

.checkbox1:checked,
.checkbox1:not(:checked) {
    /* position: relative; */
    align-self: center;
    left: 10%;
    opacity: 1;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    margin-bottom: 8px;
    margin-right: 4px;
    /* pointer-events: none; */
}

.SpaceRequired {
    padding: 10px;
    height: 15px;
    background-color: #202225;
    border-color: transparent;
    border-radius: 3px;
    margin-bottom: 20px;
    color: hsl(210, calc(var(--saturation-factor, 1)*2.9%), 86.7%);
    font-size: 16px;
    font-family: WhitneyLower;
}

.SpaceNotRequired {
    padding: 10px;
    height: 15px;
    background-color: #202225;
    border-color: transparent;
    border-radius: 3px;
    margin-bottom: 00px;
    color: hsl(210, calc(var(--saturation-factor, 1)*2.9%), 86.7%);
    font-size: 16px;
    font-family: WhitneyLower;
}

.InputBox {
    display: flex;
    flex-direction: column;
}

.messagebox {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline-width: 0;
    color: #ffffff;
    width: 100%;
}

.JoinServer2 {
    background-color: hsl(216, calc(var(--saturation-factor, 1)*9.8%), 90%);
    border-radius: 4px;
    font-weight: 500;
    padding: 10px;
    /* height: 20px; */
    font-size: 16px;
    color: hsl(210, calc(var(--saturation-factor, 1)*9.8%), 20%);
    border: none;
    font-family: WhitneyLower;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.uploadButton {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 0px;
    opacity: 0;
    cursor: pointer;
}

.CreateServerModal {
    background-color: rgb(227, 229, 232);
    color: rgb(46, 51, 56);
    font-family: WhitneyLower;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
}