/* .message {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;


}

.message__info {
    margin-left: 20px;
    font-size: 1rem;
}

.message__timestamp {
    color: grey;
    margin-left: 20px;
    font-size: x-small;
}

.message__info>p {
    width: 250px;
    word-wrap: break-word;
} */

.message {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
}

.messageavatar {
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: calc(4px - 0.125rem);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.message__info {
    display: flex;
    flex-direction: column;
}

.Username {
    font-family: Whitney;
    font-weight: 400;
    margin-right: 0.25rem;
    position: relative;
    line-height: 1.375rem;
    font-size: .9em;
    color: hsl(0, calc(var(--saturation-factor, 1)*0%), 100%);
}

.timestamp {
    margin-left: 0.25rem;
    font-size: 0.75rem;
    color: hsl(214, calc(var(--saturation-factor, 1)*4%), 65.3%);
    height: 1.25rem;
}

.messagecontent {
    user-select: text;
    position: relative;
    font-size: 1rem;
    line-height: 1.375rem;
    word-wrap: break-word;
    color: hsl(210, calc(var(--saturation-factor, 1)*2.9%), 86.7%);
    font-family: WhitneyLower;

}